<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="M_Adnan">
  <title>Chop Naija</title>

  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="../assets/rs-plugin/css/settings.css" media="screen" />

  <!-- Bootstrap Core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../assets/css/ionicons.min.css" rel="stylesheet">
  <link href="../assets/css/main.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/responsive.css" rel="stylesheet">

  <!-- JavaScripts -->
  <script src="../assets/js/modernizr.js"></script>

  <!-- Online Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="../assets/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="../assets/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

  <style>
    header {
      width: 100%;
      z-index: 999;
      background: #fff;
      padding: 0px 0;
      position: relative;
    }

    .dropdown-toggle:after {
      display: none;
      width: 0;
      height: 0;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }

    .shopping-cart .col-sm-6 .position-center-center {
      width: 50%;
      padding: 0 20px;
      text-align: left;
      margin-left: 20%;
    }

    .shopping-cart .cart-ship-info .grand-total .btn {
      background: #83c538;
      border-color: #7bc036;
      width: 100%;
      margin: 0px;
      margin-bottom: 10px;
    }

    @media (max-width: 767px) {
      header .container {
        padding: 6px 15px;
      }
    }

    .show {
    display: block!important;
}

  .fade {
    opacity: 5;
    }
  </style>
</head>

<body>

  <!-- LOADER -->
  <div id="loader">
    <div class="position-center-center">
      <div class="ldr"></div>
    </div>
  </div>

  <!-- Wrap -->
  <div id="wrap">

    <!-- header -->
    <!-- header -->
    <header>
      <div class="sticky">
        <div class="container">

          <!-- Logo -->
   <div class="logo"> <a href="/"><img class="img-responsive" src="../assets/images/logo-1.png"
                style="width: 31%;    margin: -11% 0 -17%;
" alt=""></a> </div>
          <nav class="navbar ownmenu">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn"
                aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"><i
                    class="fa fa-navicon"></i></span> </button>
            </div>

            <!-- NAV -->
            <!-- NAV -->
            <div class="collapse navbar-collapse" id="nav-open-btn">
              <ul class="nav">


                <li> <a href="../users/shop">Shop </a> </li>
              </ul>
            </div>

            <!-- Nav Right -->
            <div class="nav-right">
              <ul class="navbar-right">

                <!-- USER INFO -->
                <li class="dropdown user-acc"> <a href="../assets/#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button"><i class="icon-user"></i> </a>
                  <ul class="dropdown-menu">
                    <li>
                      <h6>HELLO! User</h6>
                    </li>
                    <li><a href="../users/shopping_cart">MY CART</a></li>
                    <li><a href="../users/login">LOGIN</a></li>
                    <li><a href="../users/login_vendor">Login As VENDOR</a></li>
                    <li><a href="../users/register">REGISTER</a></li>
                    <li><a href="../users/be_vendor">BECOME A VENDOR</a></li>
                    <li><a href="assets/#">LOG OUT</a></li>
                  </ul>
                </li>

                <!-- USER BASKET -->
                <li class="dropdown user-basket"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="true"><i class="icon-basket-loaded"></i> </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="media-left">
                        <div class="cart-img"> <a href="#"> <img class="media-object img-responsive"
                              src="../assets/images/agri-commodity-1-gsr-nbr.jpg" alt="..."> </a> </div>
                      </div>
                      <div class="media-body" style="position: initial;">

                        <h6 class="media-heading">Vegetable</h6>
                        <span class="price">9.00 USD</span> <span class="qty">QTY: 01</span>
                      </div>
                    </li>
                    <li>
                      <div class="media-left">
                        <div class="cart-img"> <a href="#"> <img class="media-object img-responsive"
                              src="../assets/images/hai-nguyen-LSZfNPVZjTw-unsplash.jpg" alt="..."> </a> </div>
                      </div>
                      <div class="media-body" style="position: initial;">

                        <h6 class="media-heading">Vegetable</h6>
                        <span class="price">9.00 USD</span> <span class="qty">QTY: 01</span>
                      </div>
                    </li>
                    <li>
                      <h5 class="text-center">SUBTOTAL: 18.00 USD</h5>
                    </li>
                    <li class="margin-0">
                      <div class="row">
                        <div class="col-xs-6"> <a href="../users/shopping_cart" class="btn">VIEW CART</a></div>
                        <div class="col-xs-6 "> <a href="../users/checkout" class="btn">CHECK OUT</a></div>
                      </div>
                    </li>
                  </ul>
                </li>

                <!-- SEARCH BAR -->
                <li class="dropdown"> <a href="javascript:void(0);" class="search-open"><i
                      class=" icon-magnifier"></i></a>
                  <div class="search-inside animated bounceInUp"> <i class="icon-close search-close"></i>
                    <div class="search-overlay"></div>
                    <div class="position-center-center">
                      <div class="search">
                        <form>
                          <input type="search" placeholder="Search Shop">
                          <button type="submit"><i class="icon-check"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>


    <!--======= SUB BANNER =========-->
    <section class="sub-bnr" data-stellar-background-ratio="0.5">
      <div class="position-center-center">
        <div class="container">
          <h4>REGISTER</h4>
          <p>African food. Made in Nigeria, Made for the world</p>

          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/users/login">LOGIN</a></li>
            <li class="active" ><a href="#form">REGISTER</a></li>
          </ol>
        </div>
      </div>
    </section>

    <!-- Content -->
    <div id="content">

      <!--======= PAGES INNER =========-->
      <section class="chart-page padding-top-100 padding-bottom-100">
        <div class="container">

          <!-- Payments Steps -->
          <div class="shopping-cart">

            <!-- SHOPPING INFORMATION -->
            <div class="cart-ship-info register">
              <div class="row">
              <% include ./partials/messages %>


                <!-- ESTIMATE SHIPPING & TAX -->
                <div class="col-sm-12">
                  <h6>REGISTER</h6>

                  

                  <form action="/users/register" id='form' method="POST">
                    <ul class="row">

                      <!-- Name -->
                      <li class="col-md-6">
                        <label> *FIRST NAME
                          <input type="text" name="first_name" value="" placeholder="">
                        </label>
                      </li>
                      <!-- LAST NAME -->
                      <li class="col-md-6">
                        <label> *LAST NAME
                          <input type="text" name="last_name" value="" placeholder="">
                        </label>
                      </li>

                      <!-- EMAIL ADDRESS -->
                      <li class="col-md-6">
                        <label> *EMAIL ADDRESS
                          <input type="text" name="email" value="" placeholder="">
                        </label>
                      </li>
                      <!-- PHONE -->
                      <li class="col-md-6">
                        <label> *PHONE
                          <input type="text" name="phone" value="" placeholder="">
                        </label>
                      </li>

                      <!-- LAST NAME -->
                      <li class="col-md-6">
                        <label> *PASSWORD
                          <input type="password" name="password" value="" placeholder="">
                        </label>
                      </li>

                      <!-- LAST NAME -->
                      <li class="col-md-6">
                        <label> *CONFIRM PASSWORD
                          <input type="password" name="password2" value="" placeholder="">
                        </label>
                      </li>
                      <li class="col-md-6">
                        <!-- ADDRESS -->
                        <label>*ADDRESS
                          <input type="text" name="address" value="" placeholder="">
                        </label>
                      </li>
                      <li class="col-md-6">
                        <!-- ADDRESS -->
                        <label>*STREET
                          <input type="text" name="street" value="" placeholder="">
                        </label>
                      </li>

                      <!-- COUNTRY -->
                       <li class="col-md-6">
                        <label>*CHOOSE COUNTRY
                        <select id="selectCountry" name="country" value="">
                          <option value="">Choose Country</option>
                      </select>
                        </label>

                        
                                            
                        </li>

                      <!-- TOWN/CITY -->
                      <li class="col-md-6">
                        <label>*TOWN/CITY
                          <input type="text" name="town" value="" placeholder="">
                        </label>
                      </li>

                      <!-- PHONE -->
                      <li class="col-md-6">
                        <button type="submit" class="btn">REGISTER NOW</button>
                      </li>
                    </ul>
                  </form>
                  <br />

                          <span class="txt2">
                have an Account? <a href="../users/login">Login</a>
                    </span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="site-footer bg-white">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-5">
                  <h2 class="footer-heading mb-4">About Us</h2>
                  <p>
                    Chopnaija is a food-specific e-commerce store set with the
                    specific objective of exporting only the best
                    made-in-Nigeria food items to the rest of the word.
                  </p>
                </div>
                <div class="col-md-3">
                  <h2 class="footer-heading mb-4">Quick Links</h2>
                  <ul class="list-unstyled">
                    <li><a href="../users/shop">Shop</a></li>

                  </ul>
                </div>
                <div class="col-md-4">
                  <h2 class="footer-heading mb-4">Follow Us</h2>
                  <a href="#" class="pl-0 pr-3"><span style="font-size: 30px;" class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span style="font-size: 30px;" class="icon-twitter"></span></a>

                  <a href="#" class="pl-3 pr-3"><span style="font-size: 30px;" class="icon-linkedin"></span></a>
                </div>
              </div>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Products</h2>
              <a href="#"><img src="../assets/images/bg.jpg" alt="Image" class="img-fluid mb-3" style="width: 100%;" /></a>
            </div>
          </div>
        </div>
      </footer>
      <!--======= RIGHTS =========-->

    </div>
    <script src="../assets/js/jquery-1.11.3.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/own-menu.js"></script>
    <script src="../assets/js/jquery.lighter.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="../assets/rs-plugin/js/jquery.tp.t.min.js"></script>
    <script type="text/javascript" src="../assets/rs-plugin/js/jquery.tp.min.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/main.js"></script>
    <script>
    var select = document.getElementById("selectCountry");
    
var countries = new Array("Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burma", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo, Democratic Republic", "Congo, Republic of the", "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Greenland", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Mongolia", "Morocco", "Monaco", "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Norway", "Oman", "Pakistan", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Samoa", "San Marino", " Sao Tome", "Saudi Arabia", "Senegal", "Serbia and Montenegro", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "Spain", "Sri Lanka", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe");
    
//console.log(countries);
//console.log(select);
    
for (var i = 0; i < countries.length; i++) {
    
    var option = document.createElement("option"); 
  //for every turn of the loop create an option tag
    //console.log(option);
    var txt = document.createTextNode(countries[i]); 
  //for every turn of the loop create the inner text
    //console.log(txt);
    option.appendChild(txt); 
  //for every turn of the loop put the words from txt inside the <option> tags
    //console.log(option);
    option.setAttribute("value",countries[i]); //for every turn of the loop set the value attribute to corresponding country name
    //console.log(option);
    select.insertBefore(option,select.lastChild);
    //console.log(select);
    
}

document.addEventListener ('DOMContentLoaded', function() {
    //console.log('DOM fully loaded and parsed');
    document.querySelector('select[name="selectCountry"]').onchange = alertCountry;
     }, false);
    

    </script>
</body>

</html>